In [3]:
import sqlite3
import pandas as pd
from datetime import datetime

In [4]:
# Connection à la db, crée le fichier s'il n'existe pas déjà
conn = sqlite3.connect('db_foot.sqlite3') 
c = conn.cursor()

In [5]:
# Version pandas
def insert_table(my_df, my_table):
  '''Insert Dataframe into table specified'''
  my_df.to_sql(my_table, conn, if_exists='append', index=False)

def read_db(my_query):
  '''Read sql query, read the db an return response in a dataframe'''
  df = pd.read_sql(my_query, conn)
  return df

In [7]:
# Lis le contenu de la table
df_championships = read_db('''SELECT * FROM goals''')
df_championships

,id,match_id,player_id,goal_type,created_at,updated_at
0,1,2,14,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
1,2,3,176,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
2,3,3,549,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
3,4,4,322,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
4,5,4,320,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
...,...,...,...,...,...,...
1044,1045,379,544,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
1045,1046,379,53,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
1046,1047,379,48,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
1047,1048,380,642,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
1048,1049,380,211,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412

In [9]:
#insert_table(df_teams, 'teams')

df_teams_table = read_db('''SELECT * FROM teams''')
df_teams_table

,id,championship_id,name,city,coach_name,rank,created_at,updated_at
0,1,1,Angers Sporting Club de l'Ouest,Angers,Gérald BATICLE,44,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
1,2,1,Football Club des Girondins de Bordeaux,Bordeaux,Jean-Louis GASSET,45,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
2,3,1,Stade Brestois 29,Brest,Michel DER ZAKARIAN,41,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
3,4,1,Dijon Football Côte-d'Or,Dijon,David LINARES,21,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
4,5,1,Racing Club de Lens,Lens,Franck HAISE,57,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
5,6,1,LOSC Lille,Lille,Christophe GALTIER,83,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
6,7,1,Football Club Lorient-Bretagne Sud,Lorient,Christophe PELISSIER,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
7,8,1,Olympique Lyonnais,Lyon,Peter BOSZ,76,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
8,9,1,Olympique de Marseille,Marseille,Jorge SAMPAOLI,60,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
9,10,1,Football Club de Metz,Metz,Frédéric ANTONETTI,47,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
10,11,1,Association sportive de Monaco FC,Monaco,Niko KOVAC,78,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
11,12,1,Montpellier-Herault Sport Club,Montpellier,Olivier DALL'OGLIO,54,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
12,13,1,Football Club de Nantes,Nantes,Antoine KOMBOUARE,40,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
13,14,1,Olympique Gymnaste Club Nice Côte d'Azur,Nice,Adrian URSEA,52,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
14,15,1,Nîmes Olympique,Nîmes,Pascal PLANCQUE,35,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
15,16,1,Paris-Saint-Germain Football Club,Paris,Mauricio POCHETTINO,82,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
16,17,1,Stade de Reims,Reims,Oscar GARCIA,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
17,18,1,Stade Rennais Football Club,Rennes,Bruno GENESIO,58,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
18,19,1,Association Sportive de St-Etienne,Saint-Étienne,Claude PUEL,46,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
19,20,1,Racing Club de Strasbourg Alsace,Strasbourg,Julien STEPHAN,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113

In [28]:
df_matchs_table = read_db('SELECT * FROM matchs')
df_matchs

,id,date,place,rainfall,temperature,created_at,updated_at,match
0,1,2020-08-21 19:00:00+02:00,Bordeaux,5.000000,24.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-21 19:00:00+02:00 Bordeaux
1,2,2020-08-22 17:00:00+02:00,Dijon,19.000000,26.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-22 17:00:00+02:00 Dijon
2,3,2020-08-22 21:00:00+02:00,Lille,1.000000,21.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-22 21:00:00+02:00 Lille
3,4,2020-08-23 13:00:00+02:00,Monaco,1.000000,27.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-23 13:00:00+02:00 Monaco
4,5,2020-08-23 15:00:00+02:00,Lorient,1.000000,19.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-23 15:00:00+02:00 Lorient
...,...,...,...,...,...,...,...,...
375,376,2021-05-23 21:00:00+02:00,Rennes,2.000000,15.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Rennes
376,377,2021-05-23 21:00:00+02:00,Nantes,1.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Nantes
377,378,2021-05-23 21:00:00+02:00,Saint-Étienne,4.277397,13.279778,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Saint-Étienne
378,379,2021-05-23 21:00:00+02:00,Reims,1.000000,14.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Reims
379,380,2021-05-23 21:00:00+02:00,Strasbourg,2.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Strasbourg